<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494902674827-826e4gejm4urpf4s1lr9f2ud2id9iagq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494902674827-826e4gejm4urpf4s1lr9f2ud2id9iagq</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0J3MJhdyI1V1jkV2mq7m45HBKzqZwQo</string>
	<key>GCM_SENDER_ID</key>
	<string>494902674827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.matterofmovement</string>
	<key>PROJECT_ID</key>
	<string>matter-of-movement</string>
	<key>STORAGE_BUCKET</key>
	<string>matter-of-movement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494902674827:ios:90c86243a4f7dd1b281b8e</string>
</dict>
</plist>